@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

header {
  height: 40px;
  background-color: black;
}

.logo {
  color: white;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  width: 50%;
  float: left;
  padding-top: 15px;
}

.logo span {
  color: #26c5a9;
  font-weight: 700;
}

nav {
  width: 50%;
  float: right;
  padding-top: 15px;
}

nav ul li {
  float: right;
  color: white;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline;
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
}

#lastMenuPosition {
  padding-right: 0;
}

#slider {
  height: 504px;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFFFFF, #d0cfd7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFFFFF, #d0cfd7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFFFFF, #d0cfd7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFFFFF, #d0cfd7);
}

.moveLeft, .moveRight {
  width: 5%;
  height: 504px;
  float: left;
  color: #26c5a9;
  font-size: 70px;
  font-weight: 100;
  text-align: left;
  box-sizing: border-box;
  padding-top: 200px;
}

.moveRight {
  float: right;
  text-align: right;
}

.productPhoto {
  width: 35%;
  height: 504px;
  float: left;
  background-image: url("../images/black_chair.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.mainCopyButton {
  width: 55%;
  float: right;
  margin-top: 125px;
}

.mainCopyButton p {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
}

.claim {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.claim span {
  font-size: 40px;
  font-weight: 700;
  color: #26c5a9;
  text-transform: uppercase;
}

.button {
  width: 262px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #26c5a9;
  border-radius: 10px;
}

.button span {
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  display: table-cell;
  width: inherit;
  text-align: center;
  padding-top: 11px;
}

#productBoxes {
  height: 350px;
}

.boxes {
  padding-top: 40px;
}

.box1, .box2, .boxText {
  width: 320px;
  height: 225px;
  display: inline-block;
  float: left;
  position: relative;
}

.box1 {
  background-image: url("../images/box1_img.jpg");
  background-position: center;
}

.box2 {
  margin-left: 20px;
  background-image: url("../images/box2_img.jpg");
}

.boxText {
  box-sizing: border-box;
  float: right;
  height: 255px;
  border: 1px solid lightGray;
  padding: 18px 12px 12px 12px;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.boxText p {
  font-size: 14px;
  font-weight: 100;
  line-height: 22px;
  margin-top: 20px;
}

.boxTitleContainer {
  width: 296px;
  height: 50px;
  position: absolute;
  bottom: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px;
  font-size: 18px;
  font-weight: 700;
}

hr {
  height: 5px;
  width: 155px;
  background-color: #26c5a9;
  border: none;
  margin-top: 3px;
}
