@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

$colors: (Black:#000, Mint:#24ba9f, DarkGray:#c2c2c2, LightGray:#f1f1f1, White:#FFF);

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  box-sizing: border-box;

  // wylaczenie zaznaczania tekstu na stronie
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.vis {
  visibility: visible !important;
}

.hid {
  visibility: hidden !important;
}

nav {
  width: 100vw;
  height: 40px;
  background-color: map-get($colors, Black);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    //background-color: beige;
  }

  .logo {
    height: 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: map-get($colors, White);
    text-transform: uppercase;
    span {
      font-size: 1.2rem;
      color: map-get($colors, Mint);
    }
  }

  ul {
    height: 1.2rem;
    li {
      margin: 0 20px;
      list-style-type: none;
      display: inline-block;
      flex-direction: row;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        position: relative;
      }
      a {
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: map-get($colors, White);
        &:hover {
          color: map-get($colors, Mint);
        }
      }
    }
  }

}

#slider {
  width: 100vw;
  height: 500px;
  background: linear-gradient( map-get($colors, White), map-get($colors, DarkGray) );

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

    .moveLeft {
      width: 5%;
      font-size: 7rem;
      color: map-get($colors, Mint);
      cursor: pointer;
    }
    .moveRight {
      width: 5%;
      font-size: 7rem;
      color: map-get($colors, Mint);
      cursor: pointer;
    }

    .productPhoto {
      width: 40%;
      height: 100%;
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: relative;
      li {
        width: 100%;
        height: 100%;
        position: absolute;
        visibility: hidden;
        //display: flex;
      }
      #photo1 {
        width: 100%;
        height: 100%;
        background-image: url('../images/black_chair.png');
        background-size: 550px auto;
        background-position: center;
        background-repeat: no-repeat;
      }
      #photo2 {
        width: 100%;
        height: 100%;
        background-size: 430px auto;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../images/orange.png');
      }
      #photo3 {
        width: 100%;
        height: 100%;
        background-size: 450px auto;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../images/red.png');
      }
    }

    .mainCopyButton {
      width: 50%;
      text-align: center;
      margin-right: 5%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      .claim {
        font-size: 4rem;
        color: map-get($colors, Black);
        text-transform: uppercase;
        font-weight: medium;
        margin-bottom: 30px;
        span {
          font-size: 4rem;
          color: map-get($colors, Mint);
        }
      }
      p {
        font-size: 1.8rem;
        padding: 0 15px;
      }

    }

  }

}

button {
  background-color: map-get($colors, Mint);
  width: 264px;
  height: 54px;
  border-radius: 10px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  span {
    font-size: 2.5rem;
    font-style: normal;
    text-transform: uppercase;
    color: map-get($colors, White);
  }
}

#productBoxes {
  width: 100vw;
  height: 350px;

  .boxes {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .box1 {
      background-image: url('../images/box1_img.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .box2 {
      background-image: url('../images/box2_img.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .box {
      width: 31.5%;
      height: 220px;
      border: 1px solid map-get($colors, DarkGray);

      a {
        font-size: 1.4rem;
        font-weight: bold;
        color: map-get($colors, Black);
      }

    }

  }


}

.boxTitleContainer {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}

.underline {
  background-color: map-get($colors, Mint);
  height: 7px;
  width: 120px;
  margin-top: 3px;
}

.boxText {
  padding: 16px 16px;
  p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 16px;
  }
}

/* PRICE TAG */

#priceSection {
  width: 100vw;
  height: 726px;
  background-color: map-get($colors, LightGray);
  > div{
    display: flex;
    justify-content: space-between;
  }
}

.priceTag {
  width: 31.5%;
  height: 500px;
  background-color: map-get($colors, White);
  border: 2px solid map-get($colors, DarkGray);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 74px;

  span {
    font-size: 2rem;
    color: map-get($colors, Mint);
    margin-top: -10px;
  }

  button {
    width: 120px;
    height: 34px;
    position: absolute;
    top: 415px;
    a {
      font-size: 1.4rem;
      color: map-get($colors, White);
    }
  }

  ul {
    margin-top: 30px;
    width: 100%;
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 2rem;
      color: map-get($colors, DarkGray);
      line-height: 42px;
      background-color: map-get($colors, LightGray);
      &:nth-child(2n) {
        background-color: lighten(gray, 47%);
      }
    }
  }

}

.circleBigger {
  width: 54px;
  height: 54px;
  background-color: map-get($colors, White);
  border: 2px solid map-get($colors, DarkGray);
  border-radius: 50%;
  position: relative;
  top: -27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleSmaller {
  width: 50%;
  height: 50%;
  background-color: map-get($colors, DarkGray);
  border-radius: 50%;
}

.priceCircle {
  width: 130px;
  height: 130px;
  background-color: map-get($colors, White);
  border: 2px solid map-get($colors, DarkGray);
  border-radius: 50%;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  span {
    font-size: 4.4rem;
    color: map-get($colors, DarkGray);
    font-weight: bold;
    line-height: 2.4rem;
    margin-top: 0;
    sup {
      font-size: 2.2rem;
    }
    .pln {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: normal;
      line-height: 1.2rem;
    }
  }
}

.middleTag {
  background-color: map-get($colors, Mint);
  border: 2px solid map-get($colors, Mint);

  .circleBigger {
    background-color: map-get($colors, Mint);
    border-radius: 50%;
    border: none;
  }

  .circleSmaller {
    background-color: map-get($colors, White);
    border-radius: 50%;
  }

  span {
    color: map-get($colors, White);
  }

  .priceCircle {
    border: none;

    span {
      color: map-get($colors, Mint);
    }
  }

  ul {
    li {
      background-color: map-get($colors, White);
      &:nth-child(2n) {
        background-color: lighten(gray, 47%);
      }
    }
  }

  button {
    background-color: map-get($colors, White);
    a {
      color: map-get($colors, Mint);
    }
  }

}

.sectionTitle {
  margin-top: 50px;
  font-size: 2rem;
  color: map-get($colors, Black);
  text-transform: uppercase;
  .underline {
    width: 280px;
  }
}

/* APPLICATION */

.application {
  background-color: #f9f9f9;
  height: 450px;


  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h3 {
    color: map-get($colors, Black);
    font-size: 2rem;
    font-weight: normal;
  }

  header.align_right{
    text-align: right;
  }

  section {
    padding: 30px 0 0 0;
    margin: 0;
    height: 450px;
  }

  .green_button {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    a {
      background-color: map-get($colors, Mint);
      width: 200px;
      padding: 10px 30px;
      border-radius: 10px;
      color: map-get($colors, White);
      font-size: 2.5rem;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
    }
  }

}

.inline {
  width:32%;
  display: inline-block;
}

.form {
  margin-top:50px;
}

.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 2rem;
  color: map-get($colors, DarkGray);
}

.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  img {
    width: 264px;
    height: 210px;
  }
}


.application .green_bell {
  background-color: map-get($colors, Mint);
  width: 280px;
  height: 7px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;

  .title {
    height: 2rem;
    font-weight: normal;
  }

}


.panel_left {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 40%;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  width: 60%;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  width: 40%;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid map-get($colors, Mint);
  display:block;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 36px;

  li {
    margin-top:10px;
    font-size: 1.4rem;
    cursor: pointer;
    color: #585858;
  }
}


/* KONTAKT */

#contact {
  height: 480px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  input {
    height: 65px;
    width: 100%;
    font-size: 2.6rem;
    font-weight: lighter;
    padding-left: 20px;
    margin-top: 28px;
    border: 1px solid;
    border-color: map-get($colors, Mint);

    &[type=submit] {
      width: 340px;
      height: 72px;
      font-size: 3.4rem;
      font-weight: bold;
      text-transform: uppercase;
      color: map-get($colors, White);
      background-color: map-get($colors, Mint);
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

input {
  &[type=checkbox] {
    display: inline;
    float: left;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
  }
  &[type=checkbox]:before {
    content:"";
    height: 50px;
    width: 50px;
    border: 1px solid map-get($colors, Mint);
    background-color: #FFF;
    display:inline-block;
    padding: 0;
  }
  &[type=checkbox]:checked:before {
    background: url('../images/form_ok.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    border: 1px solid map-get($colors, Mint);
    display:inline-block;
    padding: 0;
  }
  &[type="checkbox"]:focus{
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.form input {
  margin-top: 28px;
}

  textarea {
    width: 100%;
    font-size: 2.6rem;
    font-weight: lighter;
    padding: 20px;
    margin-top: 28px;
    border: 1px solid;
    border-color: map-get($colors, Mint);
    resize: none;
  }
  label {
    width: calc(100% - 70px);
    padding-left: 20px;
    margin-top: 23px;
    font-size: 1.8rem;
    font-weight: normal;
    color: map-get($colors, DarkGray);
    display: inline;
    float: left;
  }

.form label {
  margin-top: 38px;
  font-size: 2.5rem;
}

.col1 {
  width: 60%;
}

.col2 {
  width: 340px;
}

.formPhoto {
  background-image: url('../images/red_chair.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}

/* FOOTER */

 footer {
   height: 120px;
   .container {
     height: 100%;
     display: flex;
     flex-direction: row;
     //justify-content: space-between;
     align-items: center;
      .filler {
        flex-grow: 1;
      }
      .logo {
       font-size: 1.6rem;
       color: map-get($colors, DarkGray);
       text-transform: uppercase;
       margin-left: 70px;
        span {
          font-size: 1.6rem;
          font-weight: bold;
       }
     }
   }
 }

 .copyright {
   font-size: 1.6rem;
   color: map-get($colors, DarkGray);
 }

 .socialMedia {
    div {
      width: 35px;
      height: 35px;
      display: inline-block;
      cursor: pointer;

      &:nth-child(1) {
        background-image: url('../images/flickr.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(2) {
        background-image: url('../images/vimeo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(3) {
        background-image: url('../images/pinterest.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &:nth-child(4) {
        background-image: url('../images/twitter.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
 }

 /* HIDDEN MENU */

 .hiddenMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: calc(100% - 100px);
  visibility: hidden;

  li {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    background-color: black;

    &:last-child {
      margin-right: 20px;
    }
    a {
      color: white;
      width: 140px;
      text-decoration: none;
      padding-left: 0.7rem;
    }
  }
 }

 #oFirmie {
   width: 100%;
   height: 100%;
 }

 .triangleHolder {
   width: 160px;
   margin: 0 20px;
   padding-top: 15px;
 }

 .triangle {
   width: 0;
   height: 0;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-bottom: 15px solid black;
   position: relative;
   left: 40px;
}
