@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

$colors: (Black:#000, Mint:#24ba9f, DarkGray:#c2c2c2, LightGray:#f1f1f1, White:#FFF);

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

nav {
  width: 100vw;
  height: 40px;
  background-color: map-get($colors, Black);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    //background-color: beige;
  }

  .logo {
    height: 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: map-get($colors, White);
    text-transform: uppercase;
    span {
      font-size: 1.2rem;
      color: map-get($colors, Mint);
    }
  }

  ul {
    height: 1.2rem;
    li {
      margin: 0 20px;
      list-style-type: none;
      display: inline-block;
      flex-direction: row;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: map-get($colors, White);
        &:hover {
          color: map-get($colors, Mint);
        }
      }
    }
  }

}

#slider {
  width: 100vw;
  height: 500px;
  background: linear-gradient( map-get($colors, White), map-get($colors, DarkGray) );

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

    .moveLeft {
      width: 5%;
      a {
        font-size: 7rem;
        color: map-get($colors, Mint);
      }
    }
    .moveRight {
      width: 5%;
      a {
        font-size: 7rem;
        color: map-get($colors, Mint);
      }
    }

    .productPhoto {
      width: 40%;
      height: 100%;
      background-image: url('../images/black_chair.png');
      background-size: 550px auto;
      background-position: center;
      background-repeat: no-repeat;
    }

    .mainCopyButton {
      width: 50%;
      text-align: center;
      margin-right: 5%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      .claim {
        font-size: 4rem;
        color: map-get($colors, Black);
        text-transform: uppercase;
        font-weight: medium;
        margin-bottom: 30px;
        span {
          font-size: 4rem;
          color: map-get($colors, Mint);
        }
      }
      p {
        font-size: 1.6rem;
        padding: 0 15px;
      }

    }

  }

}

button {
  background-color: map-get($colors, Mint);
  width: 264px;
  height: 54px;
  border-radius: 10px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  span {
    font-size: 2.5rem;
    font-style: normal;
    text-transform: uppercase;
    color: map-get($colors, White);
  }
}

#productBoxes {
  width: 100vw;
  height: 350px;

  .boxes {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .box1 {
      background-image: url('../images/box1_img.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .box2 {
      background-image: url('../images/box2_img.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .box1, .box2, .boxText {
      width: 31.5%;
      height: 220px;
      border: 1px solid map-get($colors, DarkGray);

      a {
        font-size: 1.3rem;
        font-weight: bold;
        color: map-get($colors, Black);
      }

    }

  }


}

.boxTitleContainer {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 140px;
  padding: 0 16px;
}

.underline {
  background-color: map-get($colors, Mint);
  height: 7px;
  width: 120px;
  margin-top: 3px;
}

.boxText {
  padding: 16px 16px;
  p {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 16px;
  }
}

/* PRICE TAG 1 */

#priceSection {
  width: 100vw;
  height: 726px;
  background-color: map-get($colors, LightGray);
  > div{
    display: flex;
    justify-content: space-between;
  }
}

.priceTag {
  width: 31.5%;
  height: 500px;
  background-color: map-get($colors, White);
  border: 2px solid map-get($colors, DarkGray);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 100px;

  span {
    font-size: 2rem;
    color: map-get($colors, Mint);
    margin-top: -10px;
  }

  button {
    width: 120px;
    height: 34px;
    color: map-get($colors, White);
    font-size: 1.4rem;
    position: absolute;
    top: 415px;
  }

  ul {
    margin-top: 30px;
    width: 100%;
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 2rem;
      color: map-get($colors, DarkGray);
      line-height: 42px;
      background-color: map-get($colors, LightGray);
      &:nth-child(2n) {
        background-color: lighten(gray, 47%);
      }
    }
  }

}

.circleBigger {
  width: 54px;
  height: 54px;
  background-color: map-get($colors, White);
  border: 2px solid map-get($colors, DarkGray);
  border-radius: 50%;
  position: relative;
  top: -27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleSmaller {
  width: 50%;
  height: 50%;
  background-color: map-get($colors, DarkGray);
  border-radius: 50%;
}

.priceCircle {
  width: 130px;
  height: 130px;
  background-color: map-get($colors, White);
  border: 2px solid map-get($colors, DarkGray);
  border-radius: 50%;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  span {
    font-size: 4.4rem;
    color: map-get($colors, DarkGray);
    font-weight: bold;
    line-height: 2.4rem;
    margin-top: 0;
    .pln {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: normal;
      line-height: 1.2rem;
    }
  }
}

.middleTag {
  background-color: map-get($colors, Mint);
  border: 2px solid map-get($colors, Mint);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 100px;

  .circleBigger {
    background-color: map-get($colors, Mint);
    border-radius: 50%;
    border: none;
  }

  .circleSmaller {
    background-color: map-get($colors, White);
    border-radius: 50%;
  }

  span {
    color: map-get($colors, White);
  }

  .priceCircle {
    border: none;

    span {
      color: map-get($colors, Mint);
    }
  }

  ul {
    li {
      background-color: map-get($colors, White);
      &:nth-child(2n) {
        background-color: lighten(gray, 47%);
      }
    }
  }

  button {
    color: map-get($colors, Mint);
    background-color: map-get($colors, White);
  }

}
